<div nz-row class="main">
  <!-- *ngFor="let i of taggedPost" -->
  <nz-table #smallTable nzSize="small" [nzData]="taggedPost">
    <thead>
      <tr>
        <th>№</th>
        <th>Хэнээс</th>
        <th>Төрөл</th>
        <th>Нийтэлсэн хугацаа</th>
        <th>Шийдэх хугацаа</th>
        <th>Нийтэд</th>
        <th>Статус</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of smallTable.data; let j = index">
        <td>{{ j + 1 }}</td>
        <td *ngIf="!i.is_vissible">{{ i.user.l_name }} {{ i.user.f_name }}</td>
        <td *ngIf="i.is_vissible">Оюутан</td>
        <td *ngIf="!i.is_thanks">Санал хүсэлт</td>
        <td *ngIf="i.is_thanks">Талархал</td>
        <td>{{ i.created_date | date: "yyyy/M/d" }}</td>
        <td>{{ i.deadline | date: "yyyy/M/d" }}</td>
        <td *ngIf="i.is_public">
          <i nz-icon nzType="check" nzTheme="outline"></i>
        </td>
        <td *ngIf="!i.is_public">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </td>
        <td *ngIf="i.perfor_code == 'sent'">
          <nz-badge nzColor="gray" nzText="Ирсэн"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'seen'">
          <a
            nz-popconfirm
            nzPopconfirmTitle="Санал хүсэлтийг биелүүлсэн үү?"
            nzOkText="Тийм"
            nzCancelText="Үгүй"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="postConfirm(i._id)"
          >
            <nz-badge class="underline">Ирсэн</nz-badge>
          </a>
        </td>
        <td *ngIf="i.perfor_code == 'pending'">
          <nz-badge nzColor="blue" nzText="Баталгаажаагүй"></nz-badge>
        </td>

        <td *ngIf="i.perfor_code == 'reject'">
          <nz-badge nzColor="purple" nzText="Цуцалсан"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'done'">
          <nz-badge nzColor="green" nzText="Баталгаажсан"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'fail'">
          <nz-badge nzColor="red" nzText="Биелүүлээгүй"></nz-badge>
        </td>
        <td>
          <a
            *ngIf="i.perfor_code !== 'sent'"
            routerLink="/app/post/{{ i._id }}"
          >
            <i nz-icon nzType="eye" nzTheme="outline"></i
          ></a>
          <a *ngIf="i.perfor_code === 'sent'" (click)="seePost(i._id)">
            <i nz-icon nzType="eye" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
