<div nz-row class="main">
  <nz-table #smallTable nzSize="small" [nzData]="data1">
    <thead>
      <tr>
        <th>№</th>
        <th>Төрөл</th>
        <th>Шийдэх хугацаа</th>
        <th>Нийтэд</th>
        <th>Нууцалсан</th>
        <th>Статус</th>
        <th>Үйлдэл</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of smallTable.data; let j = index">
        <td>{{ j + 1 }}</td>
        <td *ngIf="!i.is_thanks">Санал хүсэлт</td>
        <td *ngIf="i.is_thanks">Талархал</td>
        <td>{{ i.deadline | date: "yyyy/M/d" }}</td>
        <td *ngIf="i.is_public">
          <i nz-icon nzType="check" nzTheme="outline"></i>
        </td>
        <td *ngIf="!i.is_public">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </td>
        <td *ngIf="i.is_vissible">
          <i nz-icon nzType="check" nzTheme="outline"></i>
        </td>
        <td *ngIf="!i.is_vissible">
          <i nz-icon nzType="close" nzTheme="outline"></i>
        </td>
        <td *ngIf="i.perfor_code == 'sent'">
          <nz-badge nzColor="gray" nzText="Илгээгдсэн"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'seen'">
          <nz-badge nzColor="blue" nzText="Харсан"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'reject'">
          <nz-badge nzColor="purple" nzText="Цуцалсан"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'pending'">
          <a
            nz-popconfirm
            nzPopconfirmTitle="Санал хүсэлтийг биелүүлсэн үү?"
            nzOkText="Тийм"
            nzCancelText="Үгүй"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="postConfirm(i._id, 'done')"
            (nzOnCancel)="postConfirm(i._id, 'reject')"
          >
            <nz-badge class="underline">Баталгаажуулах</nz-badge></a
          >
        </td>
        <td *ngIf="i.perfor_code == 'done'">
          <nz-badge nzColor="green" nzText="Баталгаажуулсан"></nz-badge>
        </td>
        <td *ngIf="i.perfor_code == 'fail'">
          <nz-badge nzColor="red" nzText="Биелэгдээгүй"></nz-badge>
        </td>
        <td>
          <a routerLink="/app/post/{{ i._id }}">
            <i nz-icon nzType="eye" nzTheme="outline"></i
          ></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="Итгэлтэй байна уу?"
            nzOkText="Тийм"
            nzCancelText="Үгүй"
            (nzOnConfirm)="delete(i._id)"
            nzPopconfirmPlacement="leftTop"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<!-- <button nz-button (click)="createNotification('success')">Success</button> -->
