.count {
  padding-left: 8px;
  cursor: auto;
}

.img {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}

.postReaction {
  margin-right: 8px;
}

.postAvatar {
  margin: 0;
}
.post-user {
  font-weight: bold;
}
.green {
  color: green;
}
.red {
  color: red;
}

.repl > button {
  margin-top: 12px;
}
.replies {
  margin-left: 36px;
}
