<div nz-row class="main">
  <div nz-col nzSpan="24">
    <div nz-row>
      <div nz-col nzSpan="2">
        <nz-avatar
          class="postAvatar"
          [nzText]="!postData['is_vissible'] ? first_name.substr(0, 1) : 'О'"
          [nzSize]="48"
          [nzSrc]=""
        ></nz-avatar>
      </div>
      <div nz-col nzSpan="15">
        <span class="post-user" *ngIf="!postData['is_vissible']">
          {{ user.l_name }} {{ user.f_name }}
        </span>
        <span class="post-user" *ngIf="postData['is_vissible']">Оюутан</span>
        <span class="red" *ngIf="!postData['is_thanks']"> Санал хүсэлт</span>
        <span class="green" *ngIf="postData['is_thanks']"> Талархал</span>
        <p>{{ postData["created_date"] | date: "yyyy/M/d HH:mm" }}</p>
      </div>
      <div nz-col nzSpan="6"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <p>
          {{ postData["body"] }}
          <a (click)="back()">
            <i nz-icon nzType="left-circle" nzTheme="outline"></i>
          </a>
          <!-- 
          <a routerLink="/app/posts"
            ><i nz-icon nzType="left-circle" nzTheme="outline"></i
          ></a> -->
        </p>
      </div>
    </div>
    <!-- <div nz-row nzGutter="24">
      <div nz-col nzSpan="12" *ngFor="let j of postData['images'].slice(0, 2)">
        <div><img class="img" [src]="j" /></div>
      </div>
    </div> -->
    <div nz-row>
      <div nz-col nzSpan="24">
        <a (click)="like(postData['_id'])">
          <span class="postReaction">
            <i nz-icon nzType="like-o" style="margin-right: 8px;"></i
            >{{ like_count }}
          </span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="dislike(postData['_id'])">
          <span class="postReaction">
            <i nz-icon nzType="dislike-o" style="margin-right: 8px;"></i
            >{{ unlike_count }}
          </span>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="back()">
          <span class="postReaction">
            <i nz-icon nzType="message" style="margin-right: 8px;"></i>
            {{ comment_count }}
          </span>
        </a>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="24">
    <div *ngFor="let i of commentData">
      <nz-comment
        [nzAuthor]="i.user.l_name + ' ' + i.user.f_name"
        [nzDatetime]="i.created_date | date: 'yyyy/M/d HH:mm'"
      >
        <nz-avatar
          nz-comment-avatar
          [nzText]="i.user.f_name.substr(0, 1)"
        ></nz-avatar>
        <nz-comment-content>
          <p>
            {{ i.body }}
          </p>
        </nz-comment-content>
        <nz-comment-action>
          <a (click)="like2(i._id)">
            <i nz-tooltip nz-icon nzType="like"></i>
            <span class="count like">{{ i.like_cnt.length }}</span></a
          >
        </nz-comment-action>
        <nz-comment-action>
          <a (click)="dislike2(i._id)">
            <i nz-tooltip nz-icon nzType="dislike"></i>
            <span class="count dislike">{{ i.dislike_cnt.length }}</span></a
          >
        </nz-comment-action>
        <nz-comment-action><a>хариу бичих</a></nz-comment-action>
      </nz-comment>
    </div>
  </div>
  <div nz-col nzSpan="24">
    <form nz-form [formGroup]="commentForm" (ngSubmit)="writeComment()">
      <nz-form-item>
        <nz-form-control>
          <textarea
            formControlName="comment"
            nz-input
            rows="4"
            placeholder="Хариу тайлбар бичих..."
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            [disabled]="this.commentForm.invalid"
          >
            Илгээх
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
