.img {
  width: auto;
  height: 200px;
  padding-bottom: 16px;
}

.postReaction {
  margin-right: 8px;
}

.postAvatar {
  margin: 0;
}

.post-user {
  font-weight: bold;
}
.green {
  color: green;
}
.red {
  color: red;
}
