<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
    nzTheme="light"
  >
    <nz-avatar
      nzIcon="user"
      [nzSize]="isCollapsed ? 42 : 150"
      nzSrc="/assets/avatar.jpg"
      [nzAlt]="'aaa'"
      [nzText]="'bb'"
    ></nz-avatar>

    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        routerLink="/app/private"
        nz-menu-item
        [nzTitle]="isCollapsed ? 'Хувийн мэдээлэл' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Хувийн мэдээлэл</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/posts"
        [nzTitle]="isCollapsed ? 'Санал хүсэлт' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Санал хүсэлт</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/notification"
        [nzTitle]="isCollapsed ? 'Мэдэгдэл' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bell" nzTheme="outline"></i>
        <span>Мэдэгдэл</span>
      </li>

      <li
        nz-menu-item
        routerLink="/login"
        [nzTitle]="isCollapsed ? 'Гарах' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Гарах</span>
      </li>
    </ul>

    <button
      class="new"
      nz-button
      nzType="primary"
      [nzSize]="'default'"
      routerLink="/app/posts/create"
    >
      <i nz-icon nzType="plus"></i
      ><span *ngIf="!isCollapsed"> Шинээр үүсгэх </span>
    </button>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18">
          <router-outlet></router-outlet>
        </div>
        <!--  -->
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
          <div class="statistic">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit nihil architecto eius ea neque. Aspernatur sed,
            adipisci sequi assumenda neque quae, alias unde esse culpa
            cupiditate perspiciatis molestias illo nemo.
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
