<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
    nzTheme="light"
  >
    <nz-avatar
      nzIcon="user"
      [nzSize]="isCollapsed ? 42 : 150"
      nzSrc="/assets/avatar.jpg"
      [nzAlt]="'aaa'"
      [nzText]="'bb'"
    ></nz-avatar>

    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        routerLink="/app/private"
        nz-menu-item
        [nzTitle]="isCollapsed ? 'Миний нийтлэлүүд' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Миний нийтлэлүүд</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/posts"
        [nzTitle]="isCollapsed ? 'Санал хүсэлтүүд' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Санал хүсэлтүүд</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/notification"
        [nzTitle]="isCollapsed ? 'Мэдэгдэл' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bell" nzTheme="outline"></i>
        <span>Ирсэн нийтлэлүүд</span>
      </li>

      <li
        nz-menu-item
        [nzTitle]="isCollapsed ? 'Гарах' : ''"
        nzPlacement="right"
        nz-tooltip
        (click)="showconfirm()"
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Гарах</span>
      </li>
    </ul>

    <button
      class="new"
      nz-button
      nzType="primary"
      [nzSize]="'default'"
      routerLink="/app/posts/create"
    >
      <i nz-icon nzType="plus"></i
      ><span *ngIf="!isCollapsed"> Шинээр үүсгэх </span>
    </button>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div nz-row>
        <!-- <div nz-col nzXs="24" nzSm="24" nzMd="1" nzLg="1" nzXl="1"></div> -->
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <router-outlet></router-outlet>
        </div>
        <!--  -->
        <!-- <div nz-col nzXs="24" nzSm="24" nzMd="1" nzLg="1" nzXl="1"> -->
        <!-- <div class="statistic">
            <nz-row [nzGutter]="24">
              <nz-col [nzSpan]="12">
                <nz-statistic
                  [nzValue]="element1 | number"
                  [nzTitle]="'Бүх санал хүсэлтийн тоо'"
                ></nz-statistic>
              </nz-col>
              <nz-col [nzSpan]="12">
                <nz-statistic
                  [nzValue]="element2 | number: '1.0-2'"
                  [nzTitle]="'Талархалын тоо'"
                ></nz-statistic>
              </nz-col>
            </nz-row>
          </div> -->
        <!-- </div> -->
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
