<nz-layout>
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    nzWidth="200px"
    nzTheme="light"
  >
    <nz-avatar
      nzIcon="user"
      [nzSize]="isCollapsed ? 42 : 150"
      nzSrc="/assets/avatar.jpg"
      [nzAlt]="'aaa'"
      [nzText]="'bb'"
    ></nz-avatar>

    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        routerLink="/app/private"
        nz-menu-item
        [nzTitle]="isCollapsed ? 'Миний нийтлэлүүд' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>Миний нийтлэлүүд</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/posts"
        [nzTitle]="isCollapsed ? 'Санал хүсэлтүүд' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bulb" nzTheme="outline"></i>
        <span>Санал хүсэлтүүд</span>
      </li>
      <li
        nz-menu-item
        routerLink="/app/notification"
        [nzTitle]="isCollapsed ? 'Мэдэгдэл' : ''"
        nzPlacement="right"
        nz-tooltip
      >
        <i nz-icon nzType="bell" nzTheme="outline"></i>
        <span>Ирсэн нийтлэлүүд</span>
      </li>

      <li
        nz-menu-item
        [nzTitle]="isCollapsed ? 'Гарах' : ''"
        nzPlacement="right"
        nz-tooltip
        (click)="showconfirm()"
      >
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        <span>Гарах</span>
      </li>
    </ul>

    <button
      class="new"
      nz-button
      nzType="primary"
      [nzSize]="'default'"
      routerLink="/app/posts/create"
    >
      <i nz-icon nzType="plus"></i
      ><span *ngIf="!isCollapsed"> Шинээр үүсгэх </span>
    </button>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18">
          <router-outlet></router-outlet>
        </div>
        <!--  -->
        <div nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
          <div class="statistic">
            <p style="text-align: justify;">
              Та өөрийн санал хүсэлтээ илгээхдээ өөрийн нэрийг нууцлах
              шаардлагатай бол цахим хаяг эсвэл утасны дугаараа үлдээгээрэй.
              Ингэснээр таньтай эргэн холбогдож асуудлыг тань шийдвэрлэх болно.
              Иргэн та
              <i>"Эрүүгийн хуулийн 110 дугаар зүйлийн 1.1-1.6 заалт"</i>,
              <i>"Эрүүгийн хуулийн 111 дугаар зүйлийн 2.1-2.9 заалт"</i>,
              <i
                >"Эрүүгийн хуулийн 110, 111 дүгээр зүйлд заасан гэмт хэргүүдийг
                ойролцоо төрлийн гэмт хэргээс ялган зүйлчлэх 3.1-3.9 заалтыг"</i
              >
              зөрчихгүй байхыг хүсье
            </p>
          </div>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
