<div nz-row class="main">
  <!-- salbar sur -->
  <h2 *ngIf="type == 'A'">
    МУБИС-ийн салбар сургуульд ирсэн санал хүсэлт
  </h2>
  <div *ngIf="type == 'A'" class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData3"
      [labels]="barChartLabels3"
      [options]="barChartOptions3"
      [plugins]="barChartPlugins3"
      [legend]="barChartLegend3"
      [chartType]="barChartType3"
      [colors]="barChartColors3"
    >
    </canvas>
  </div>
  <!-- tenhmiin erhlegchiin graphic -->
  <h2 *ngIf="type == 'A' || type == 'B'">
    Тэнхимүүдэд (салбар) ирсэн санал хүсэлт
  </h2>
  <div *ngIf="type == 'A' || type == 'B'" class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors"
    >
    </canvas>
  </div>

  <!-- bagsh nar -->
  <h2 *ngIf="type != 'C'">Багш нарт ирсэн санал хүсэлт</h2>
  <div *ngIf="type != 'C'" class="chart-wrapper">
    <canvas
      baseChart
      [datasets]="barChartData2"
      [labels]="barChartLabels2"
      [options]="barChartOptions2"
      [plugins]="barChartPlugins2"
      [legend]="barChartLegend2"
      [chartType]="barChartType2"
      [colors]="barChartColors2"
    >
    </canvas>
  </div>
  <h2>Таньд ирсэн санал хүсэлт</h2>

  <!-- oort irsen -->
  <div class="chart-wrapper">
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [plugins]="pieChartPlugins"
      [legend]="pieChartLegend"
      [colors]="pieChartColors"
    >
    </canvas>
  </div>
</div>
